<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="gr__bootstrap-4_ru">
<head>
<meta charset="UTF-8" />
<title th:utext="${patientTitle}">_patient_</title>

<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" th:href="@{/js/jquery-3.3.1.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" th:href="@{/js/proper.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" th:href="@{/js/bootstrap.js}"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" th:href="@{/js/jquery-ui.theme.css}">
<link rel="stylesheet" href="/resources/demos/style.css" th:href="@{/js/jquery-ui.css}">

<script src="https://code.jquery.com/jquery-1.12.4.js" th:href="@{/js/external/jquery/jquery.js}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" th:href="@{/js/jquery-ui.js}"></script>

<script>
$( function() {
    $( "#planedDate" ).datepicker({
      changeMonth: true,
      changeYear: true
    });
  } );

var changeStatus = function(formId){
    alert(formId);
    $('#'+formId).submit();
}
  </script>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<header>
		<nav th:include="inc/navigation :: navigationFragment" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"
			role="navigation" style="margin-bottom: 0"></nav>
	</header>


	<main role="main" class="yobject-marked">

	<div class="contatiner" style="padding-top: 80px;">

		<H1>Choose a Doctor, Room and Time.</H1>
		<br />
		<div class="row paddingBottom5" style="padding-left: 20px;">

			<span class="col-sm-2 control-label label-input-sm">Patient :</span>
			<div class="col-sm-3">
				<Strong><span class="" th:text="${selectedPatient.name +' ['+selectedPatient.birthday+']'}"></span></Strong>
			</div>
		</div>
		<!-- PLANED DATE for Treatment -->
		<div class="row paddingBottom5" style="padding-left: 20px;">

			<span class="col-sm-2 control-label label-input-sm">Planed date :</span>
			<div class="col-sm-3">
				<strong> <span th:text="${frmScheduleStep1.planedDate}"></span>
				</strong>
			</div>
		</div>


		<hr />
		<form id="" th:action="@{/schedule2}" th:object="${frmScheduleMain}" method="POST">

			<div class="row" style="padding-left: 20px;"
				th:class="${#fields.hasErrors('doctorGid')} ? 'row has-error has-feedback paddingBottom5' : 'row paddingBottom5' ">

				<label for="doctorGid" class="col-sm-2 control-label label-input-sm">Doctor *</label>
				<div class="col-sm-3">

					<select name="doctorGid" id="doctorGid">
						<option th:each="doc : ${allDoctors}" th:value="${doc.gid}" th:text="${doc.name}">_DOC_NAME_</option>
					</select>
				</div>
				<div class="col-sm-4 bg-warning" th:if="${#fields.hasErrors('doctorGid')}" th:errors="*{doctorGid}"></div>
			</div>

			<div class="row" style="padding-left: 20px;"
				th:class="${#fields.hasErrors('description')} ? 'row has-error has-feedback paddingBottom5' : 'row paddingBottom5' ">

				<label for="description" class="col-sm-2 control-label label-input-sm">description *</label>
				<div class="col-sm-6">
					<input th:field="*{description}" type="text" class="form-control input-sm" id="description"
						placeholder="Description of treatment.">
				</div>
				<div class="col-sm-4 bg-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
			</div>


			<div class="row paddingBottom5" style="padding-left: 20px;">
				<div class="col-sm-12 alert alert-primary" role="alert"
					th:class=" 'col-sm-' + ${allRooms.size() * 2}+' alert alert-primary' ">
					<H5>ROOMS</H5>
				</div>
			</div>

			<div class="row paddingBottom5" style="padding-left: 20px;">
				<div class="col-sm-2 border" th:each="room : ${allRooms} ">
					<label th:utext="${'<b>Room '+room.name+'</b>'}" th:for="room[+${room.gid}+]">_LABEL_</label> <input type="radio"
						name="room" th:id="room[+${room.gid}+]" th:value="${room.gid}" />
				</div>
				<div class="col-sm-4 bg-warning" th:if="${#fields.hasErrors('room')}" th:errors="*{room}"></div>
			</div>

			<div class="row paddingBottom5" style="padding-left: 20px;">
				<div class="col-sm-2 border" th:each="room : ${allRooms} ">
					Time : <select th:name="'roomTime[' + ${room.gid}+']'">
						<option th:each="slotTime : ${allTimeSlots}" th:value="${slotTime}" th:text="${slotTime}">_SLOT_TIME_</option>
					</select> : <select th:name="'endRoomTime[' + ${room.gid}+']'">
						<option th:each="slotTime : ${allTimeSlots}" th:value="${slotTime}" th:text="${slotTime}">_SLOT_TIME_</option>
					</select>
				</div>
			</div>
			<div class="row paddingBottom5 text-center">
				<div class="col-sm-8 text-center" style="padding-left: 20px;">
					<input type="submit" value="Schedule" class="btn btn-primary btn-lg btn-block" />
				</div>
			</div>
		</form>

		<div class="row paddingBottom5" style="padding-left: 20px;">
			<div class="col-sm-2 border" th:each="room : ${allRooms} ">
				<!-- <span th:text="${studyByDate.size()} +' = '+${room}"></span> -->
				<Span class="badge badge-info">Planed:</Span>
				<div th:each="studies : ${studyByDate.get(room.gid)}">
					<div th:each="time : ${studies}" style="margin-top: 10px;">
						<hr style="border: 1px 1px 1px 1px; padding: 0px; margin: 0px;" />
						<form th:id="'formStatus'+${time['value'].gid}" th:action="@{/schedule2.1}" th:object="${frmStatus}" method="POST"
							action="/">
							<input type="hidden" name="studyId" th:value="${time['value'].gid}" /> <strong th:text="${time['key']}"></strong>
							<div th:text="'Patient: '+${time['value'].patient.name}"></div>
							<div th:text="'Doctor: '+${time['value'].doc.name}"></div>
							<div th:text="'Desc: '+${time['value'].description}"></div>
							<div>
								Status : <select name="status" onChange="javascript: changeStatus( $(this).parents('form').attr('id') )">
									<option th:each="status : ${allStatuses}" th:value="${status.getValue()}" th:text="${status.getLabel()}"
										th:selected="${status.name().equalsIgnoreCase(time['value'].status)} ? 'selected' ">_STATUS_</option>
								</select>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</div>

	<br />
	<hr />
	<!-- FOOTER --> <footer class="container">
		<p class="float-right">
			<a href="#">Back to top</a>
		</p>
		<p>
			© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a>
		</p>
	</footer> </main>

</body>

</html>